*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}
/* Md Mijanur Rahaman 
   Founder & CEO of MR Laboratory
   Number : +8801854650673
   Email : admin@mrlaboratory.com
   Facebook : fb.com/mdmijanurrahaman.mr
   
 */


body{
	background:#d4d6d9;
	display:flex;
	/* min-height:100vh; */
			
}
.left-side{
	float:left;
	width:50%;
    height:auto;
	padding-left:20px;
	
	
		
}
.right-side{
	float:left;
	width:50%;
    height:auto;

	
}
.left-side h1{
	text-transform:lowercase;
	font-weight:bold;
	margin-top:200px;	
	color:#4266f5;
	font-size:60px;
	font-family:arial;
	
}

.right-inside{
	background:#ffffff;
	width:400px;
	height:400px;
	border-radius:10px;
	box-shadow:1px 1px 4px 4px #e1e5eb;
	margin-top:120px;
	float:right;
	margin-right:20px;
	
}
.right-inside form {
	width:100%;
	height:auto;
	padding:20px;
	
}
.right-inside input,.right-inside form button {
	width:100%;
	height:50px;
	margin-bottom:15px;
	border-radius:5px;
	outline:none;
	padding:5px;
	
	
	
}
.right-inside input{
	border:1px solid #a5a9b0;
	font-weight:bold;
}
.right-inside input:focus{
	border-radius:5px;
	outline:none;
	opacity:50%;
	
	
}
.right-inside form button{
	background:#4266f5;
	border:none;
	font-size:20px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	
}
.right-inside a {
	text-align:center;
	text-decoration:none;	
	margin-bottom:0px;
	color:#4266f5;
	
	
		
}

.right-bottom{
	text-align:center;
	padding:20px;
	
}
.right-bottom hr{
	margin-top:10px;
	margin-bottom:10px;
	opacity:50%;
	
}
.right-bottom button{
	font-size:18px;
	font-weight:bold;
	padding:15px;
	color:white;
	background:#3eb04d;
	border-radius:10px;
	border:none;
	cursor:pointer;
	
}
.right-bottom button:hover{
	background:#2f943d;
	
}.right-bottom button:active{
	background:#266e30;
	 outline: none;
    border: none;
	
	
}

.main{
	width:100%;
	
}
.top-side{
	background:#1b4e8c;
	width:100%;
	height:80px;
	
	
}
.top-left,.top-right{
	float:left;
	width:50%;
	height:auto;
	
	
}
.top-left h1{
	color:white;
	padding-top:20px;
	padding-left:20px;
	font-family:arial;
	
	
}

.top-right form{
	margin:10px;
}
.top-right input{
	width:150px;
	height:20px;	
	border:1px solid black;
	outline:none;
	
}
.top-right label{
	color:white;
	font-family:ariall;
	
}
.form-top{
	width:50%;
	float:left;
	padding-left:70px;
	
}
.form-bottom{
	width:50%;
	float:left;
	
}
.top-right a {
	color:white;
	text-decoration:none;
	opacity:50%;
	
}
.form-bottom button{
	background:#1b4e8c;
	border:1px solid black;
	padding:3px;
	color:white;
	font-weight:bold;
	cursor:pointer;
	
}
.form-bottom button:hover{
	background:#153b69;
	
}.form-bottom button:active{
	background:#133c6e;
	outline:none;
	
}

.middle-side {
	width:600px;
	height:200px;
	background:white;
	border:1px solid gray;
	border-radius:5px;
	margin:0 auto;
	margin-top:200px;
	position:relative;
	
	
}.middle-side h3,.middle-side hr{
	margin:20px;
	
}
.middle-side p{
	margin-left:60px;
	
}
.middle-side input{
	margin-left:60px;
	margin-top:10px;
	
}
.middle-bottom{
	position:absolute;
	width:100%;
	height:50px;
	background:#f7f7f7;
	border-top:1px solid gray;
	padding:10px;
	bottom:0;
	border-radius:0 0 10px 10px;
	
}.middle-bottom button{
	cursor:pointer;
	float:right;
	padding:4px;
	border:1px solid gray;
	
}#Search{
	background:#275ea1;
	margin-right:10px;
	color:white;
	font-weight:bold;
	outline:none;
	
}




